<form class="ui form" [formGroup]="form">
  <div class="field" *ngIf="!postEditValue">
    <label>User Name</label>
    <input 
      type="text"
      [disabled]="true"
      formControlName="username" 
      placeholder="user name">
  </div>

  <div class="field" *ngIf="!postEditValue">
    <label>Email</label>
    <input 
      type="email" 
      formControlName="email" 
      placeholder="email">
  </div>

  <div class="field">
    <label>Text</label>
    <input 
      type="text" 
      formControlName="text" 
      placeholder="text">
  </div>

  <div class="field" *ngIf="postEditValue">
    <label>Status</label>
    <input 
      type="number" 
      formControlName="status" 
      placeholder="text">
  </div>

  <div>  
    <input 
      *ngIf="!postEditValue"
      type="file" 
      (change)="uploadFile($event)" />
  </div>

  <div *ngIf="showPreview" class="ui list">
    <h2>Pls have a look on your post, before submiting, thanks.</h2>
    <h3><b>Name: </b> {{previewData.username}}</h3>
    <h3><b>Email: </b>{{previewData.email}}</h3>
    <h3><b>Text: </b>{{previewData.email}}</h3>
    <h3><b>Image: </b>Here your image :)</h3>

    <button  class="ui button" (click)="submitForm(form.value)">Submit</button>
    <span class="ui button" (click)="showPreview = false">Cancel</span>
  </div>

  <h1 *ngIf="showLoader">Loading ... </h1>

  <button 
    *ngIf="!postEditValue" 
    class="ui button" 
    (click)="previewData = form.value; showPreview = true">preview</button>
  <button 
    *ngIf="postEditValue" 
    class="ui button"
    (click)="updatePost(form.value)" 
    type="submit">update post</button>
</form>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>