<form class="ui form" #form="ngForm" (ngSubmit)="submitForm(form.value)">
  <div class="field">
    <label>User Name</label>
    <input type="text" name="username" placeholder="user name" ngModel required>
  </div>

  <div class="field">
    <label>Email</label>
    <input type="email" name="email" placeholder="email" ngModel required>
  </div>

  <div class="field">
    <label>Text</label>
    <input type="text" name="text" placeholder="text" ngModel required>
  </div>

  <div>  
    <input type="file" (change)="uploadFile($event)" />
  </div>

  <h1 *ngIf="showLoader">Loading ... </h1>

  <div *ngIf="showPreview" class="ui list">
    <h2>Pls have a look on your post, before submiting, thanks.</h2>
    <h3><b>Name: </b> {{previewData.username}}</h3>
    <h3><b>Email: </b>{{previewData.email}}</h3>
    <h3><b>Text: </b>{{previewData.email}}</h3>
    <h3><b>Image: </b>Here your image :)</h3>

    <button [disabled]="form.invalid" class="ui button" type="submit">Submit</button>
    <span class="ui button" (click)="showPreview = false">Cancel</span>
  </div>

  <button [disabled]="form.invalid" class="ui button" (click)="previewPost(form.value)">preview</button>
</form>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>