<div>
  <button>Create New Item</button>
</div>

<app-create postId="2"></app-create>

<table class="ui celled table">
  <thead>
    <tr>
      <th 
        (click)="sortData('id', id = !id)">#
        <span *ngIf="id">&or;</span>
        <span *ngIf="!id">&and;</span>
      </th>
      <th 
        (click)="sortData('username', user = !user)">User
        <span *ngIf="user">&or;</span>
        <span *ngIf="!user">&and;</span>
      </th>
      <th 
        (click)="sortData('email', email = !email)">Email 
        <span *ngIf="email">&or;</span>
        <span *ngIf="!email">&and;</span>
      </th>
      <th>Text</th>
      <th (click)="sortData('status', status = !status)">Status
        <span *ngIf="status">&or;</span>
        <span *ngIf="!status">&and;</span>
      </th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of posts">
      <td>{{item.id}}</td>
      <td>{{item.username}}</td>
      <td>{{item.email}}</td>
      <td>{{item.text}}</td>
      <td>{{item.status}}</td>
      <td>
        <img 
        [src]="item.image_path"  
        style="width: 200px; height: auto;">
      </td>
      <td><button>Edit</button></td>
    </tr>
  </tbody>

</table>

<div>
  <b 
    class="item" 
    *ngFor="let i of pages; let page = index;" 
    (click)="pagePagination(page + 1)">{{page + 1}}</b>
</div>
